div.list-item > ul, ol {
    list-style: circle;
    margin: 0;
    padding-left: 20px;
    text-align: left;
}

div.list-item > ol, ul > li:not(:last-child) {
    margin-bottom: 10px;
}

.section-dark-blue {
    background-color: #190040;
}

.section-dark-blue > h1,h2,h3,h4,h5,h6,p.lead,i {
    color: #ffffff;
}